# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
title: AgileXRM Docs
email: AgileXRMDocs@agilexrm.com
description: AgileXRM Documentation Site
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://docs.agilexrm.com"
twitter_username: AgileXRM
github_username:  AgileXRM

# Build settings
theme: jekyll-theme-slate
encoding: utf-8
markdown: kramdown
highlighter: rouge
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
